/*
 ***********************
 * Header
 ***********************
 */

#header {
  height: 45px;
  width: 100%;

  background-color: #262626;
  box-shadow: 0px 1px 2px #888;
}

#nav {
  width: 97%;
  margin: 0 auto;
  color: white;
}

#nav div, #nav button {
  display: inline-block;
}

.list-inline {
  padding-left: 7px;
  vertical-align: middle;
}

.list-inline li {
  display: inline-block;
  padding: 0 5px;
  margin-top: 5px;
}

#nav input[type=text] {
  width: 710px;
  border-radius: 5px;
}

#signUp {
  display: inline-block;
  width: 70px;
  height: 30px;
  border-radius: 4px;
  background: #ff4f01;
  color: white;
}


/*.link {
  height: 45px;
  color: #eee;
  text-align: center;
  border: 1px solid blue;
  line-height: 45px;
}*/

/* Header Styles */

#nav {
  text-align: left;
  margin-right: 15px;
  height: 45px;
  line-height: 45px;
  position: relative;
}

#nav ul {
  list-style-type: none;
}

#nav li {
  display: inline;
  padding-left: 10px;
}

#nav li a {
  color: white;
}

#logo {
  display: inline-block;
  height: 45px;
  width: 85px;

  background: url(https://a-v2.sndcdn.com/assets/images/header/logo@2x-3a4e31.png);
  background-color: #ff4f01;
  background-size: 80px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
